Repository novaraptur/better-jeopardy, pull requests merged in 2021-08, with the labels that each got.

#38 Feature/update api
  src/Components/App/App.css
  src/Components/Form/Form.css
  src/Components/Form/Form.js
  src/Components/Game/Game.css
  src/Components/Game/Game.js
  src/Components/GameBoard/GameBoard.css
  src/Components/PastGames/PastGames.css
  src/Components/PastGames/PastGames.js
  src/Components/Results/Results.css
  src/Components/Results/Results.js
  src/Components/SavedGame/SavedGame.js
  src/utilities/apiCalls.js
Labels: API, Express, Postgres, refactor

#40 Feature/implement saved game card
  src/Components/PastGames/PastGames.js
  src/Components/SavedGame/SavedGame.css
  src/Components/SavedGame/SavedGame.js
  src/Components/SavedGameCard/SavedGameCard.css
  src/Components/SavedGameCard/SavedGameCard.js
  src/Components/SavedGamePage/SavedGamePage.css
  src/Components/SavedGamePage/SavedGamePage.js
Labels: React, UI, refactor

#41 Features/mobile styling
  src/Components/App/App.css
  src/Components/Game/Game.css
  src/Components/GameBoard/GameBoard.css
  src/Components/PastGames/PastGames.css
  src/Components/PastGames/PastGames.js
  src/Components/Question/Question.css
  src/Components/SavedGame/SavedGame.js
  src/Components/SavedGameCard/SavedGameCard.css
Labels: CSS, UI

#43 Cypress testing
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/integration/App/App.spec.js
  cypress/integration/Game/Game.spec.js
  src/Components/Game/Game.js
  src/utilities/apiCalls.js
Labels: API, Testing

#47 Cypress testing
  cypress/integration/App/App.spec.js
  cypress/integration/Game/Game.spec.js
  src/Components/Results/Results.js
Labels: Testing

#48 Add redirect for non-existent paths
  src/Components/Game/Game.js
Labels: React, UI
